.movie-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.movie-col{
    width: 20%;
}
.search{
    width: 100%;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestions {
    color: red;
}
.input-t{
    border: 1px solid red;
    padding: 5px 10px;
}
.sub-btn{
    padding: 6px 10px;
    width: fit-content;
    background-color: red;
    
}