.movie-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.movie-col{
    width: 20%;
}
.search{
    width: 100%;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}